body {
    font-family: Helvetica;
    font-size: 14px;
}

.mf-row-1 {
    background-color: #F1F3FF;
    width: 1440px;
    height: 500px;
}

.mf-row-2 {
    background-color: #F1F3FF;
    width: 1440px;
    height: 266px;
}

.mf-btn-register {
    width: 81px;
    height: 36px;
    padding: 8px, 12px, 8px, 12px;
    margin-top: 24px;
    margin-right: 136px;
    font-weight: bold;
    background-color: #5CB85F;
    border: none;
    border-radius: 2px;
}

.mf-a-navbar {
    margin-top: 32px;
    margin-right: 32px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.mf-title {
    margin-top: 118px;
    margin-left: 136px;
    font-weight: bold;
    font-size: 36px;
}

.mf-p {
    margin-top: 16px;
    margin-left: 136px;
    margin-right: 132px;
}
/*  */

/*  */
.mf-footer {
    margin-top: 172px;
    margin-left: 173px;
}

.mf-row-search {
    background-color: white;
    width: 1047px;
    height: 106px;
    border-radius: 8px;
    position: absolute;
    top: 458px;
    margin-left: 196px;
}

.mf-row-search-search {
    background-color: white;
    width: 1047px;
    height: 106px;
    border-radius: 8px;
    position: absolute;
    top: 195px;
    margin-left: 196px;
}

.mf-row-content-search {
    width: 1047px;
    margin-top: 111px;
    margin-left: 196px;
}

.mf-row-form {
    margin: 20px;
}

.mf-form-label {
    width: 210.75px;
    /* height: 36px; */
    margin-right: 6px;
    /* border: 1px solid #D0D0D0; */
    /* border-radius: 2px; */
}

.mf-form-input {
    width: 210.75px;
    height: 36px;
    margin-right: 6px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
}

.mf-btn-search {
    width: 92px;
    height: 36px;
    padding: 8px, 12px, 8px, 12px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    background-color: #5CB85F;
}

.mf-btn-select {
    width: 100%;
    height: 48px;
    font-weight: bold;
    background-color: #5CB85F;
    border: none;
    border-radius: 2px;
    padding: 8px, 12px, 8px, 12px;
}

.mf-btn-pembayaran {
    width: 100%;
    height: 36px;
    font-weight: bold;
    background-color: #5CB85F;
    border: none;
    border-radius: 2px;
    padding: 8px, 12px, 8px, 12px;
}

.mf-btn-pembayaran-left {
    /* width: 100%; */
    height: 36px;
    font-weight: bold;
    background-color: #5CB85F;
    border: none;
    border-radius: 2px;
    padding: 8px, 12px, 8px, 12px;
}

.mf-ul {
    color: #8A8A8A;
}
/*  */

/* image */
.mf-img-rectangle {
    width: 100px;
    height: 34px;
    margin-top: 25px;
    margin-left: 136px;
}

.mf-img-car {
    width: 704px;
    height: 407px;
    margin-top: 37px;
}

.mf-img-footer {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.mf-img-footer-rec {
    width: 100px;
    height: 34px;
}

.mf-img-car-search {
    margin-top: 31px;
    margin-bottom: 31px;
}
/* end image */

.mf-api-row {
    width: 1047px;
}